<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
<br>
<h4>Raw data <button (click)="showHideRawdata()">Hide/Show</button></h4>
<div style="height: 30vh; overflow-y: scroll;" *ngIf="showRawdata">

<table class="minimalistBlack" *ngIf="records.length > 0">
  <thead>
  <tr>
    <th *ngFor="let header of headers">{{header.name}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records;let i = index;">
    <td *ngFor="let header of headers;let j = index;"> <span>{{record[j]}}</span> </td>
  </tr>
  </tbody>
</table>
</div>
<!--<button (click)="doPreprocessing()">Preprocess data</button>-->
<br>
<h4>Preprocessed data <button (click)="showHidePreData()">Hide/Show</button></h4>
<div style="height: 30vh; overflow-y: scroll;" *ngIf="showPredata">

  <table class="minimalistBlack" *ngIf="records.length > 0">
    <thead>
    <tr>
      <th *ngFor="let header of headers">{{header.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of preprocessedRecords;let i = index;">
      <td *ngFor="let header of headers;let j = index;"> <span>{{record[j]}}</span> </td>
    </tr>
    </tbody>
  </table>
</div>

<h4>Groups <button (click)="showHidePreData()">Hide/Show</button></h4>
<div style="height: 30vh; overflow-y: scroll;">

  <table class="minimalistBlack" *ngIf="records.length > 0">
    <thead>
    <tr>
      <th *ngFor="let header of headers">{{header.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td valign="top" *ngFor="let header of headers">{{getLength(header)}}</td>
    </tr>
    <tr >
      <td valign="top" *ngFor="let header of headers">
        <p *ngFor="let group of getGroups(header)"> {{group}} - {{header.groups[group]}}</p>
        </td>
    </tr>
    </tbody>
  </table>
</div>
